
@{
    Layout = "~/Views/Shared/_BjuiLayout.cshtml";
}


<div class="bjui-pageContent">
    <div style="margin: 15px;">
        <button type="button" class="btn-default" onclick="displayLinenumberCol(true);">显示行号列</button>
        <button type="button" class="btn-default" onclick="displayLinenumberCol(false);">隐藏行号列</button>
        <button type="button" class="btn-default" onclick="displayLinenumberCol('lock');">锁定行号列</button>
        <button type="button" class="btn-default" onclick="displayLinenumberCol('unlock');">解锁行号列</button>
        <button type="button" class="btn-default" onclick="displayCheckboxCol(true);">显示复选框列</button>
        <button type="button" class="btn-default" onclick="displayCheckboxCol(false);">隐藏复选框列</button>
        <button type="button" class="btn-default" onclick="displayCheckboxCol('lock');">锁定复选框列</button>
        <button type="button" class="btn-default" onclick="displayCheckboxCol('unlock');">解锁复选框列</button>
        <button type="button" class="btn-default" onclick="displayEditCol(true);">显示编辑按钮列</button>
        <button type="button" class="btn-default" onclick="displayEditCol(false);">隐藏编辑按钮列</button>
        <hr style="margin: 5px 0">
        <table id="maingrid" class="table table-bordered"></table>
    </div>
</div>

<script src="~/Scripts/Common/grid.js"></script>
<script src="~/Scripts/UIJs/SysResource.js"></script>
<script type="text/javascript">
    var $datagrid = $('#maingrid')

        function displayLinenumberCol(flag) {
            $datagrid.datagrid('showLinenumber', flag)
        }

        function unLockLinenumberCol() {
            $datagrid.datagrid('colLock', 0, false)
        }

        function displayCheckboxCol(flag) {
            $datagrid.datagrid('showCheckboxcol', flag)
        }

        function displayEditCol(flag) {
            $datagrid.datagrid('showEditCol', flag)
        }

        function displayCol(flag, index) {
            $datagrid.datagrid('showhideColumn', index, flag)
        }

        function lockCol(flag, index) {
            $datagrid.datagrid('colLock', index, flag)
        }

        function doEditTr(index) {
            $datagrid.datagrid('doEditRow', index)
        }

        function doCancelEditTr(index) {
            $datagrid.datagrid('doCancelEditRow', index)
        }

        function doSaveEditTr(index) {
            $datagrid.datagrid('doSaveEditRow', index)
        }

        function doDelTr(index) {
            $datagrid.datagrid('doDelRow', index)
        }
</script>
