<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="GeneralSysContext"
             connectionString="Data Source=.;Initial Catalog=GeneralSys;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>